@CHARSET "UTF-8";

body {
    background-color: #f1f1f1;
    color: #414141;
    font-size: 1.3rem;
    font-family: MontSerrat, sans-serif;
    text-align: left;
    padding-left: 15%;
    padding-right: 15%;

}

#chatBody {
    display: none;
}

/*Header*/
header {
    z-index: 100;
    background-color: #414141;
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 0.5rem;
}

.chat-header {
    vertical-align: bottom;
    color: white;
    margin: 0;
    font-size: 2rem;
}

.title h2 {
    margin-top: 8rem;
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: bold;
}

.chat-header i {
    margin-right: 2rem;
}

/*Nav bar*/
.banner nav ul {
    list-style-type: none;
}

.banner nav ul li {
    display: inline-block;
    margin-left: 2rem;
}

.banner nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.6rem;
}

.banner nav ul li a:hover {
    text-decoration: none;
    color: #cfcfcf;
}

/*Main*/
main {
    display: block;
    margin-bottom: 10rem;
    margin-left: auto;
    margin-right: auto;
}

/*Footer*/
.footer-holder {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    left: 0;
    position: fixed;
    text-align: center;
    width: 100%;
}

.footer {
    background: none repeat scroll 0 0 #414141;
    color: white;
    padding: 1rem;
    font-size: 1.2rem;
}

img {
    max-width: 100%; /* responsive image */
}

/*Tables*/
table {
    max-width: 100%;
    background-color: transparent;
    border-collapse: collapse;
    margin-bottom: 32px;
    font-size: 1.3rem;
}

th {
    padding: 10px 40px 10px 5px;
    border-bottom: 1px solid #666;
}

td {
    padding: 10px 40px 10px 5px;
    justify-content: center;
}

/*Input*/
h3 {
    font-size: 1.8rem;
    font-weight: bold;
}

input[type="text"], input[type="email"], input[type="password"], input[type="number"] {
    border: 0.1rem solid #aaa;
    color: #666;
    min-width: 10rem;
    height: auto;
    width: auto;
    border-radius: 1rem;
    font-size: 1.3rem;
}

textarea, .newCommentText, .newMessageText {
    border: 0.1rem solid #aaa;
    color: #666;
    min-width: 10rem;
    height: 10rem;
    width: 100%;
    border-radius: 1rem;
    font-size: 1.3rem;
}

input[type="submit"], button {
    border: 0.1rem solid #aaa;
    color: #666;
    height: auto;
    width: auto;
    border-radius: 1rem;
    font-size: 1.3rem;
}

label {
    font-size: 1.3rem;
    font-weight: normal;
}

.chatLabel {
    font-weight: bold;
    margin-top: 2rem;
}

fieldset {
    border: 1px solid #999;
}

.form-group {
    margin-bottom: 15px;
}

fieldset {
    border: 1px solid #999;
}

.danger {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
}

p > label.has-error {
    color: #a80f0c;
}

/*Status*/

.friendRow, .statusRow {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    margin-left: 1rem;
}

.friendRow:hover {
    color: gray;
    cursor: pointer;
}

.status-online,
.status-offline,
.status-away,
.status-modified {
    margin-right: 1rem;
    font-size: 0.8rem;
}

.status-online {
    color: #c9ff82;
    text-shadow: -0.1rem 0 #9dc364, 0 0.1rem #9dc364, 0.1rem 0 #9dc364, 0 -0.1rem #9dc364;
}

.status-offline {
    color: #f45659;
    text-shadow: -0.1rem 0 #9c3a3d, 0 0.1rem #9c3a3d, 0.1rem 0 #9c3a3d, 0 -0.1rem #9c3a3d;
}

.status-away {
    color: #ffbc76;
    text-shadow: -0.1rem 0 #ac8659, 0 0.1rem #ac8659, 0.1rem 0 #ac8659, 0 -0.1rem #ac8659;
}

.status-modified {
    color: #b3e4fa;
    text-shadow: -0.1rem 0 #78a1b4, 0 0.1rem #78a1b4, 0.1rem 0 #78a1b4, 0 -0.1rem #78a1b4;
}

.dotBig {
    font-size: 1.5rem;
}

.status-name {
    font-weight: bold;
}

.status-text {
    margin-left: 0.5rem;
}

.newFriendForm {
    margin-top: 1rem;
    margin-bottom: 4rem;
}

.newFriendInput, .updateStatusInput {
    max-width: 90%;
    width: auto;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
}

.updateStatusForm {
    margin-top: 1rem;
}

/*Chat*/
.chat {
    margin-top: -5rem;
    margin-bottom: -5rem;
    background: #fafafa;
    padding: 0 2rem 1rem 2rem;
    border: #d7d7d7 solid 0.1rem;
    border-radius: 1rem;

}

#chatWindow {
    overflow-y: scroll;
    height: 40rem;
    margin-top: 2rem;
    padding-top: 5rem;
}

.chatTitle {
    text-align: center;
    margin-top: 0;
    padding-bottom: 3rem;
    position: absolute;
    z-index: 1;
    background: linear-gradient(to bottom, rgba(250, 250, 250, 1) 60%, rgba(250, 250, 250, 0) 100%);
    margin-left: auto;
    margin-right: auto;
    width: 95%;
}

.chatTitle h2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.chatTitle h2 i {
    margin-left: 1rem;
}

.messageDate {
    text-align: center;
    color: #a0a0a0;
    margin: 2rem 0;
}

.sendMessage {
    text-align: right;
}

.receivedMessage {
    text-align: left;
}

.receivedMessageText, .sendMessageText {
    width: auto;
    display: inline-block;
    border-radius: 1.5rem;
    padding: 0.5rem 1rem;
    text-align: justify;
}

.receivedMessageText {
    background: #d7d7d7;
}

.sendMessageText {
    background: #a1c6f8;
}

.sameTime {
    margin-top: -0.6rem;
}

.messageTime {
    color: gray;
    padding: 1rem;
    margin-top: -1.75rem;
}

.sendMessageButton {
    background: #5f80d8;
    color: white;
    width: auto;
    border-radius: 2rem;
    margin-top: 1rem;
    float: right;
}

/*Blog*/
.lessVisible {
    opacity: 0.4;
}

.card {
    background: #e2e2e2;
    border: 0.1rem solid #999;
    border-radius: 1rem;
    padding: 2rem;
    margin: 2rem;
}

.card ul {
    list-style: none;
}

.card ul li {
    margin: 1rem;
}

.card ul li i {
    margin-left: 0.5rem;
}

.blogText {
    font-weight: bold;
}

.comment, .newComment {
    margin: 2rem;
    font-size: 1.3rem;
    color: #535353;
}

.commentName {
    margin-right: 1.3rem;
    color: #6e6e6e;
    font-weight: bold;
}

.commentText {
    text-align: justify;
    padding-left: 1.3rem;
    font-size: 1.2rem;
}

.newComment {
    margin-top: 4rem;
}

.newCommentRating {
    display: none;
}

.newCommentStar {
    opacity: 1;
}

.newCommentStar:hover {
    opacity: 0.7;
}

.newCommentStarLessVisible {
    opacity: 0.4;
}

.newCommentStarLessVisible:hover {
    opacity: 0.7;
}

.card .fa-angle-double-right {
    width: 1.3rem;
    color: #6e6e6e;
}

.toggleReply {
    font-size: 1.2rem;
    margin-left: 0.5rem;
    padding-bottom: 0.3rem;
}

.card .form {
    margin-top: 2rem;
}

.card label, .card .form-control {
    font-size: 1.3rem;
}

.card button {
    border: 0.1rem solid #aaa;
    color: #666;
    height: auto;
    width: auto;
    border-radius: 1rem;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {

    .chat-header {
        font-size: 1.4rem;
    }

    .banner nav ul li a {
        font-size: 1.2rem;
    }

    .chatTitle {
        width: 90%;
    }

    .chatTitle h2 {
        font-size: 1.2rem;
    }

}

